aspnet-core/GBS/ABS.Navitaire/Service References/ACE.LookUpManager/LookupService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACE.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACE.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AllowCurrencyResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="stCurrency" nillable="true" type="tns:ArrayOfstCurrency" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AllowCurrencyResponse" nillable="true" type="tns:AllowCurrencyResponse" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NSProcessTime" type="xs:long" />
      <xs:element minOccurs="0" name="ProcessTime" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:complexType name="ArrayOfstCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stCurrency" nillable="true" type="tns:stCurrency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstCurrency" nillable="true" type="tns:ArrayOfstCurrency" />
  <xs:complexType name="stCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" name="sBuy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sSell" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stCurrency" nillable="true" type="tns:stCurrency" />
  <xs:complexType name="GetRouteListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="RouteListExtend" nillable="true" type="tns:ArrayOfRouteListExtend" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRouteListResponse" nillable="true" type="tns:GetRouteListResponse" />
  <xs:complexType name="ArrayOfRouteListExtend">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RouteListExtend" nillable="true" type="tns:RouteListExtend" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRouteListExtend" nillable="true" type="tns:ArrayOfRouteListExtend" />
  <xs:complexType name="RouteListExtend">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RouteList">
        <xs:sequence>
          <xs:element minOccurs="0" name="DepartureStationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartureStationAirportName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartureTimeZoneCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ArrivalStationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ArrivalStationAirportName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ArrivalTimeZoneCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RouteListExtend" nillable="true" type="tns:RouteListExtend" />
  <xs:complexType name="RouteList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartureStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureStationCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArrivalStationCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointToPointFlag" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ConnectionFlag" type="xs:int" />
      <xs:element minOccurs="0" name="InternationalFlag" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DomesticFlag" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteList" nillable="true" type="tns:RouteList" />
  <xs:complexType name="GetExternalRateListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExternalRates" nillable="true" type="tns:ArrayOfExternalRate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetExternalRateListResponse" nillable="true" type="tns:GetExternalRateListResponse" />
  <xs:complexType name="ArrayOfExternalRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalRate" nillable="true" type="tns:ExternalRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalRate" nillable="true" type="tns:ArrayOfExternalRate" />
  <xs:complexType name="ExternalRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="RateID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuotedCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectedCurrency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalRate" nillable="true" type="tns:ExternalRate" />
  <xs:complexType name="GetCodeNameResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodeNames" nillable="true" type="tns:ArrayOfCodeName" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCodeNameResponse" nillable="true" type="tns:GetCodeNameResponse" />
  <xs:complexType name="ArrayOfCodeName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CodeName" nillable="true" type="tns:CodeName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCodeName" nillable="true" type="tns:ArrayOfCodeName" />
  <xs:complexType name="CodeName">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodeName" nillable="true" type="tns:CodeName" />
  <xs:complexType name="ArrayOfInputDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputDetail" nillable="true" type="tns:InputDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputDetail" nillable="true" type="tns:ArrayOfInputDetail" />
  <xs:complexType name="InputDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="SSRCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirlineCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AircraftCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumBooking" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputDetail" nillable="true" type="tns:InputDetail" />
  <xs:complexType name="GetFeeDetailsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResultDetails" nillable="true" type="tns:ArrayOfResultDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetFeeDetailsResponse" nillable="true" type="tns:GetFeeDetailsResponse" />
  <xs:complexType name="ArrayOfResultDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultDetail" nillable="true" type="tns:ResultDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultDetail" nillable="true" type="tns:ArrayOfResultDetail" />
  <xs:complexType name="ResultDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="OriginCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DestinationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailInfos" nillable="true" type="tns:ArrayOfSSRDetail" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultDetail" nillable="true" type="tns:ResultDetail" />
  <xs:complexType name="ArrayOfSSRDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SSRDetail" nillable="true" type="tns:SSRDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSSRDetail" nillable="true" type="tns:ArrayOfSSRDetail" />
  <xs:complexType name="SSRDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="SSRCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSRDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeDetails" nillable="true" type="tns:FeeDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSRDetail" nillable="true" type="tns:SSRDetail" />
  <xs:complexType name="FeeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="FeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerritoryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirlineCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="FeeTax1" type="xs:double" />
      <xs:element minOccurs="0" name="FeeTax2" type="xs:double" />
      <xs:element minOccurs="0" name="FeeTax3" type="xs:double" />
      <xs:element minOccurs="0" name="FeeTax4" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeeDetail" nillable="true" type="tns:FeeDetail" />
  <xs:complexType name="AGPosAmtRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGPosCurr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayCurr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayAmt" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AGPosAmtRequest" nillable="true" type="tns:AGPosAmtRequest" />
  <xs:complexType name="AGPosAmtResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActualAGPosAmt" type="xs:double" />
          <xs:element minOccurs="0" name="AGPosCurr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayAmt" type="xs:double" />
          <xs:element minOccurs="0" name="DisplayCurr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BookingCurr" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AGPosAmtResponse" nillable="true" type="tns:AGPosAmtResponse" />
  <xs:complexType name="GetConvertAmountRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuotedCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuotedAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CollectedCurrency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetConvertAmountRequest" nillable="true" type="tns:GetConvertAmountRequest" />
  <xs:complexType name="GetConvertAmountResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="QuotedCurrency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuotedAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="CollectedCurrency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CollectedAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetConvertAmountResponse" nillable="true" type="tns:GetConvertAmountResponse" />
  <xs:complexType name="GetCultureCodeResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Culture" nillable="true" type="tns:ArrayOfCulture" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCultureCodeResponse" nillable="true" type="tns:GetCultureCodeResponse" />
  <xs:complexType name="ArrayOfCulture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Culture" nillable="true" type="tns:Culture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCulture" nillable="true" type="tns:ArrayOfCulture" />
  <xs:complexType name="Culture">
    <xs:sequence>
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Culture" nillable="true" type="tns:Culture" />
  <xs:complexType name="StationTimeZone">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="StationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeZoneCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StandardVariation" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StationTimeZone" nillable="true" type="tns:StationTimeZone" />
  <xs:complexType name="GetInternalRateListResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="InternalRates" nillable="true" type="tns:ArrayOfInternalRate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetInternalRateListResponse" nillable="true" type="tns:GetInternalRateListResponse" />
  <xs:complexType name="ArrayOfInternalRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InternalRate" nillable="true" type="tns:InternalRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInternalRate" nillable="true" type="tns:ArrayOfInternalRate" />
  <xs:complexType name="InternalRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExchangeRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuotedCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollectedCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InternalRate" nillable="true" type="tns:InternalRate" />
</xs:schema>