Server/aspnet-core/eSWIS/eSWIS.Logic/Service References/ServiceReference1/MasterManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="MasterManager" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MasterManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IMasterManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="MasterManager" location="https://eswis.doe.gov.my/ESWISAPI/MasterManager.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IMasterManager" type="i0:IMasterManager">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMasterManager_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWasteCodeList">
      <soap:operation soapAction="GetWasteCodeList" style="document" />
      <wsdl:input name="WasteCodeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="WasteCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWasteTypeList">
      <soap:operation soapAction="GetWasteTypeList" style="document" />
      <wsdl:input name="WasteTypeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="WasteTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackageTypeList">
      <soap:operation soapAction="GetPackageTypeList" style="document" />
      <wsdl:input name="PackageTypeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PackageTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportVehicle">
      <soap:operation soapAction="GetTransportVehicle" style="document" />
      <wsdl:input name="TransportVehicleRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TransportVehicleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacilityList">
      <soap:operation soapAction="GetFacilityList" style="document" />
      <wsdl:input name="FacilityListRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FacilityListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDriver">
      <soap:operation soapAction="GetTransportDriver" style="document" />
      <wsdl:input name="TransportDriverRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TransportDriverResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUOMList">
      <soap:operation soapAction="GetUOMList" style="document" />
      <wsdl:input name="UOMRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UOMResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransTypeList">
      <soap:operation soapAction="GetTransTypeList" style="document" />
      <wsdl:input name="TransTypeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TransTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyTypeList">
      <soap:operation soapAction="GetCompanyTypeList" style="document" />
      <wsdl:input name="CompanyTypeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CompanyTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationTypeList">
      <soap:operation soapAction="GetOperationTypeList" style="document" />
      <wsdl:input name="OperationTypeRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OperationTypeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiveStatusList">
      <soap:operation soapAction="GetReceiveStatusList" style="document" />
      <wsdl:input name="ReceiveStatusRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReceiveStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MasterManager">
    <wsdl:port name="BasicHttpBinding_IMasterManager" binding="tns:BasicHttpBinding_IMasterManager">
      <soap:address location="https://eswis.doe.gov.my/ESWISAPI/MasterManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>