aspnet-core/GBS/ABS.Navitaire/Service References/Navitaire.AgentManager/AgentManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.navitaire.com/WebServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AgentManager" targetNamespace="http://schemas.navitaire.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IAgentManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.navitaire.com/WebServices/Imports">
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd0" namespace="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd7" namespace="http://schemas.navitaire.com/WebServices" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd2" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Agent" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Person" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd5" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd6" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CommitAgentRequest">
    <wsdl:part xmlns:q1="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q1:CommitAgentRequest" />
  </wsdl:message>
  <wsdl:message name="CommitAgentRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitAgentResponse">
    <wsdl:part xmlns:q2="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q2:CommitAgentResponse" />
  </wsdl:message>
  <wsdl:message name="FindAgentsRequest">
    <wsdl:part xmlns:q3="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q3:FindAgentsRequest" />
  </wsdl:message>
  <wsdl:message name="FindAgentsRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="FindAgentsResponse">
    <wsdl:part xmlns:q4="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q4:FindAgentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAgentRequest">
    <wsdl:part xmlns:q5="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q5:GetAgentRequest" />
  </wsdl:message>
  <wsdl:message name="GetAgentRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetAgentResponse">
    <wsdl:part xmlns:q6="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q6:GetAgentResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordRequest">
    <wsdl:part xmlns:q7="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q7:ResetPasswordRequest" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="IAgentManager_ResetPassword_OutputMessage" />
  <wsdl:message name="CommitOrganizationRequest">
    <wsdl:part xmlns:q8="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q8:CommitOrganizationRequest" />
  </wsdl:message>
  <wsdl:message name="CommitOrganizationRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitOrganizationResponse">
    <wsdl:part xmlns:q9="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q9:CommitOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="CommitOrganizationGroupRequest">
    <wsdl:part xmlns:q10="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q10:CommitOrganizationGroupRequest" />
  </wsdl:message>
  <wsdl:message name="CommitOrganizationGroupRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitOrganizationGroupResponse">
    <wsdl:part xmlns:q11="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q11:CommitOrganizationGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrganizationRequest">
    <wsdl:part xmlns:q12="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q12:GetOrganizationRequest" />
  </wsdl:message>
  <wsdl:message name="GetOrganizationRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetOrganizationResponse">
    <wsdl:part xmlns:q13="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q13:GetOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrganizationGroupRequest">
    <wsdl:part xmlns:q14="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q14:GetOrganizationGroupRequest" />
  </wsdl:message>
  <wsdl:message name="GetOrganizationGroupRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetOrganizationGroupResponse">
    <wsdl:part xmlns:q15="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q15:GetOrganizationGroupResponse" />
  </wsdl:message>
  <wsdl:message name="CommitRoleRequest">
    <wsdl:part xmlns:q16="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q16:CommitRoleRequest" />
  </wsdl:message>
  <wsdl:message name="CommitRoleRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitRoleResponse">
    <wsdl:part xmlns:q17="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q17:CommitRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoleRequest">
    <wsdl:part xmlns:q18="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q18:GetRoleRequest" />
  </wsdl:message>
  <wsdl:message name="GetRoleRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetRoleResponse">
    <wsdl:part xmlns:q19="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q19:GetRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoleListRequest" />
  <wsdl:message name="GetRoleListRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetRoleListResponse">
    <wsdl:part xmlns:q20="http://schemas.navitaire.com/WebServices/ServiceContracts/AgentService" name="parameters" element="q20:GetRoleListResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgentManager">
    <wsdl:operation name="CommitAgent">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/CommitAgent" name="CommitAgentRequest" message="tns:CommitAgentRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/CommitAgentResponse" name="CommitAgentResponse" message="tns:CommitAgentResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindAgents">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/FindAgents" name="FindAgentsRequest" message="tns:FindAgentsRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/FindAgentsResponse" name="FindAgentsResponse" message="tns:FindAgentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAgent">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/GetAgent" name="GetAgentRequest" message="tns:GetAgentRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/GetAgentResponse" name="GetAgentResponse" message="tns:GetAgentResponse" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/ResetPassword" name="ResetPasswordRequest" message="tns:ResetPasswordRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/ResetPasswordResponse" message="tns:IAgentManager_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitOrganization">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/CommitOrganization" name="CommitOrganizationRequest" message="tns:CommitOrganizationRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/CommitOrganizationResponse" name="CommitOrganizationResponse" message="tns:CommitOrganizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="CommitOrganizationGroup">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/CommitOrganizationGroup" name="CommitOrganizationGroupRequest" message="tns:CommitOrganizationGroupRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/CommitOrganizationGroupResponse" name="CommitOrganizationGroupResponse" message="tns:CommitOrganizationGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganization">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/GetOrganization" name="GetOrganizationRequest" message="tns:GetOrganizationRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/GetOrganizationResponse" name="GetOrganizationResponse" message="tns:GetOrganizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationGroup">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/GetOrganizationGroup" name="GetOrganizationGroupRequest" message="tns:GetOrganizationGroupRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/GetOrganizationGroupResponse" name="GetOrganizationGroupResponse" message="tns:GetOrganizationGroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="CommitRole">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/CommitRole" name="CommitRoleRequest" message="tns:CommitRoleRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/CommitRoleResponse" name="CommitRoleResponse" message="tns:CommitRoleResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetRole">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/GetRole" name="GetRoleRequest" message="tns:GetRoleRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/GetRoleResponse" name="GetRoleResponse" message="tns:GetRoleResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleList">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/GetRoleList" name="GetRoleListRequest" message="tns:GetRoleListRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAgentManager/GetRoleListResponse" name="GetRoleListResponse" message="tns:GetRoleListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAgentManager" type="tns:IAgentManager">
    <wsp:PolicyReference URI="#BasicHttpBinding_IAgentManager_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CommitAgent">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/CommitAgent" style="document" />
      <wsdl:input name="CommitAgentRequest">
        <soap:header message="tns:CommitAgentRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitAgentRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitAgentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAgents">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/FindAgents" style="document" />
      <wsdl:input name="FindAgentsRequest">
        <soap:header message="tns:FindAgentsRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:FindAgentsRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindAgentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgent">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/GetAgent" style="document" />
      <wsdl:input name="GetAgentRequest">
        <soap:header message="tns:GetAgentRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetAgentRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAgentResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/ResetPassword" style="document" />
      <wsdl:input name="ResetPasswordRequest">
        <soap:header message="tns:ResetPasswordRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:ResetPasswordRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitOrganization">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/CommitOrganization" style="document" />
      <wsdl:input name="CommitOrganizationRequest">
        <soap:header message="tns:CommitOrganizationRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitOrganizationRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitOrganizationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitOrganizationGroup">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/CommitOrganizationGroup" style="document" />
      <wsdl:input name="CommitOrganizationGroupRequest">
        <soap:header message="tns:CommitOrganizationGroupRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitOrganizationGroupRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitOrganizationGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganization">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/GetOrganization" style="document" />
      <wsdl:input name="GetOrganizationRequest">
        <soap:header message="tns:GetOrganizationRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetOrganizationRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetOrganizationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationGroup">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/GetOrganizationGroup" style="document" />
      <wsdl:input name="GetOrganizationGroupRequest">
        <soap:header message="tns:GetOrganizationGroupRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetOrganizationGroupRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetOrganizationGroupResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitRole">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/CommitRole" style="document" />
      <wsdl:input name="CommitRoleRequest">
        <soap:header message="tns:CommitRoleRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitRoleRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitRoleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRole">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/GetRole" style="document" />
      <wsdl:input name="GetRoleRequest">
        <soap:header message="tns:GetRoleRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetRoleRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRoleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleList">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAgentManager/GetRoleList" style="document" />
      <wsdl:input name="GetRoleListRequest">
        <soap:header message="tns:GetRoleListRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetRoleListRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRoleListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgentManager">
    <wsdl:port name="BasicHttpBinding_IAgentManager" binding="tns:BasicHttpBinding_IAgentManager">
      <soap:address location="https://aktestr3xapi.navitaire.com/AgentManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>