aspnet-core/GBS/Service.References/NavitaireAgentManager/AgentManager6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Agent" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Agent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Person" />
  <xs:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd5" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
  <xs:import schemaLocation="https://aktestr3xapi.navitaire.com/AgentManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
  <xs:complexType name="CommitAgentRequestData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Person" minOccurs="0" name="Person" nillable="true" type="q1:Person" />
      <xs:element minOccurs="0" name="Agent" nillable="true" type="tns:Agent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommitAgentRequestData" nillable="true" type="tns:CommitAgentRequestData" />
  <xs:complexType name="Agent">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q2:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentID" type="xs:long" />
          <xs:element minOccurs="0" name="AgentIdentifier" nillable="true" type="tns:AgentIdentifier" />
          <xs:element xmlns:q3="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Status" type="q3:AgentStatus" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordChangedDate" type="xs:dateTime" />
          <xs:element xmlns:q4="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="AuthenticationType" type="q4:AuthenticationType" />
          <xs:element minOccurs="0" name="LogonDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationGroupCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationGroupCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TerminationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AgentNote" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastAlertReadDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastNewsReadDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ForcePasswordReset" type="xs:boolean" />
          <xs:element minOccurs="0" name="Locked" type="xs:boolean" />
          <xs:element minOccurs="0" name="TraceQueueCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FailedLogons" type="xs:short" />
          <xs:element minOccurs="0" name="Allowed" type="xs:boolean" />
          <xs:element minOccurs="0" name="AgentRoles" nillable="true" type="tns:ArrayOfAgentRole" />
          <xs:element minOccurs="0" name="AgentSettings" nillable="true" type="tns:ArrayOfAgentSetting" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Agent" nillable="true" type="tns:Agent" />
  <xs:complexType name="AgentIdentifier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q5:StateMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DomainCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgentIdentifier" nillable="true" type="tns:AgentIdentifier" />
  <xs:complexType name="ArrayOfAgentRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentRole" nillable="true" type="tns:AgentRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentRole" nillable="true" type="tns:ArrayOfAgentRole" />
  <xs:complexType name="AgentRole">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Role">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentID" type="xs:long" />
          <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EndEffectiveDate" type="xs:dateTime" />
          <xs:element xmlns:q6="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="EffectiveDOW" type="q6:DOW" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgentRole" nillable="true" type="tns:AgentRole" />
  <xs:complexType name="Role">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q7:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentRoleCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleSettings" nillable="true" type="tns:ArrayOfRoleSetting" />
          <xs:element minOccurs="0" name="Allowed" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfRoleSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleSetting" nillable="true" type="tns:RoleSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleSetting" nillable="true" type="tns:ArrayOfRoleSetting" />
  <xs:complexType name="RoleSetting">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RoleSettingType">
        <xs:sequence>
          <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataVersion" type="xs:short" />
          <xs:element minOccurs="0" name="SettingData" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleSetting" nillable="true" type="tns:RoleSetting" />
  <xs:complexType name="RoleSettingType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q8:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="SettingTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SettingTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="DataSchema" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleSettingType" nillable="true" type="tns:RoleSettingType" />
  <xs:complexType name="ArrayOfAgentSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentSetting" nillable="true" type="tns:AgentSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentSetting" nillable="true" type="tns:ArrayOfAgentSetting" />
  <xs:complexType name="AgentSetting">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AgentSettingType">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentID" type="xs:long" />
          <xs:element minOccurs="0" name="DataVersion" type="xs:short" />
          <xs:element minOccurs="0" name="SettingData" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgentSetting" nillable="true" type="tns:AgentSetting" />
  <xs:complexType name="AgentSettingType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q9:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="SettingTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SettingTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="DataSchema" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgentSettingType" nillable="true" type="tns:AgentSettingType" />
  <xs:element name="CommitAgentReqData" nillable="true" type="tns:CommitAgentRequestData" />
  <xs:complexType name="CommitAgentResponseData">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.navitaire.com/WebServices/DataContracts/Person" minOccurs="0" name="Person" nillable="true" type="q10:Person" />
      <xs:element minOccurs="0" name="Agent" nillable="true" type="tns:Agent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommitAgentResponseData" nillable="true" type="tns:CommitAgentResponseData" />
  <xs:element name="CommitAgentResData" nillable="true" type="tns:CommitAgentResponseData" />
  <xs:complexType name="FindAgentRequestData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q11:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationGroupCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DomainCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AgentName" nillable="true" type="q11:SearchString" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="q11:SearchString" />
          <xs:element xmlns:q12="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Status" type="q12:AgentStatus" />
          <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FindAgentRequestData" nillable="true" type="tns:FindAgentRequestData" />
  <xs:complexType name="FindAgentResponseData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q13:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FindAgentList" nillable="true" type="tns:ArrayOfFindAgentItem" />
          <xs:element minOccurs="0" name="OtherServiceInformations" nillable="true" type="q13:ArrayOfOtherServiceInformation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FindAgentResponseData" nillable="true" type="tns:FindAgentResponseData" />
  <xs:complexType name="ArrayOfFindAgentItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FindAgentItem" nillable="true" type="tns:FindAgentItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFindAgentItem" nillable="true" type="tns:ArrayOfFindAgentItem" />
  <xs:complexType name="FindAgentItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentID" type="xs:long" />
      <xs:element xmlns:q14="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Status" type="q14:AgentStatus" />
      <xs:element minOccurs="0" name="AgentIdentifier" nillable="true" type="tns:AgentIdentifier" />
      <xs:element xmlns:q15="http://schemas.navitaire.com/WebServices/DataContracts/Common" minOccurs="0" name="Name" nillable="true" type="q15:Name" />
      <xs:element minOccurs="0" name="Allowed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindAgentItem" nillable="true" type="tns:FindAgentItem" />
  <xs:complexType name="GetAgentRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentID" type="xs:long" />
      <xs:element minOccurs="0" name="GetDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAgentRequestData" nillable="true" type="tns:GetAgentRequestData" />
  <xs:element name="GetAgentReqData" nillable="true" type="tns:GetAgentRequestData" />
  <xs:complexType name="ResetPasswordRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentID" type="xs:long" />
      <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResetPasswordRequestData" nillable="true" type="tns:ResetPasswordRequestData" />
  <xs:element name="ResetPasswordReqData" nillable="true" type="tns:ResetPasswordRequestData" />
  <xs:complexType name="Organization">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q16:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q17="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="OrganizationType" type="q17:OrganizationType" />
          <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
          <xs:element xmlns:q18="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Status" type="q18:OrganizationStatus" />
          <xs:element minOccurs="0" name="ParentOrganizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="q16:Address" />
          <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InternalNote" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExternalNote" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactName" nillable="true" type="q16:Name" />
          <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactOtherPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastStatementDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StatementNote" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Commissionable" type="xs:boolean" />
          <xs:element minOccurs="0" name="RecalcCommission" type="xs:boolean" />
          <xs:element minOccurs="0" name="RecallCommission" type="xs:boolean" />
          <xs:element minOccurs="0" name="NettedTotal" type="xs:boolean" />
          <xs:element xmlns:q19="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="GDSEmailItinerary" type="q19:ExternalDistributionOption" />
          <xs:element xmlns:q20="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Source" type="q20:OrganizationSource" />
          <xs:element xmlns:q21="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="SourceStatus" type="q21:OrganizationSourceStatus" />
          <xs:element minOccurs="0" name="TraceQueueCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q22="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="ReferralType" type="q22:ReferralType" />
          <xs:element minOccurs="0" name="NewOrganizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendNotification" type="xs:boolean" />
          <xs:element minOccurs="0" name="OrganizationProcessSchedules" nillable="true" type="tns:ArrayOfOrganizationProcessSchedule" />
          <xs:element minOccurs="0" name="OrganizationExternalAccounts" nillable="true" type="tns:ArrayOfOrganizationExternalAccount" />
          <xs:element minOccurs="0" name="OrganizationCommissionRates" nillable="true" type="tns:ArrayOfOrganizationCommissionRate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Organization" nillable="true" type="tns:Organization" />
  <xs:complexType name="ArrayOfOrganizationProcessSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationProcessSchedule" nillable="true" type="tns:OrganizationProcessSchedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationProcessSchedule" nillable="true" type="tns:ArrayOfOrganizationProcessSchedule" />
  <xs:complexType name="OrganizationProcessSchedule">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q23:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProcessScheduleID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationProcessSchedule" nillable="true" type="tns:OrganizationProcessSchedule" />
  <xs:complexType name="ArrayOfOrganizationExternalAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationExternalAccount" nillable="true" type="tns:OrganizationExternalAccount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationExternalAccount" nillable="true" type="tns:ArrayOfOrganizationExternalAccount" />
  <xs:complexType name="OrganizationExternalAccount">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q24:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExternalAccountID" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoutingNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BIC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IBAN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccountNumberID" type="xs:long" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationExternalAccount" nillable="true" type="tns:OrganizationExternalAccount" />
  <xs:complexType name="ArrayOfOrganizationCommissionRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationCommissionRate" nillable="true" type="tns:OrganizationCommissionRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationCommissionRate" nillable="true" type="tns:ArrayOfOrganizationCommissionRate" />
  <xs:complexType name="OrganizationCommissionRate">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q25:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CommissionRateCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DirectRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="GDSRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="WebRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="APIRate" type="xs:decimal" />
          <xs:element minOccurs="0" name="AddOnRate" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationCommissionRate" nillable="true" type="tns:OrganizationCommissionRate" />
  <xs:complexType name="OrganizationGroup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q26:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationGroupCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationGroupOrganizations" nillable="true" type="tns:ArrayOfOrganizationGroupOrganization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationGroup" nillable="true" type="tns:OrganizationGroup" />
  <xs:complexType name="ArrayOfOrganizationGroupOrganization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationGroupOrganization" nillable="true" type="tns:OrganizationGroupOrganization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationGroupOrganization" nillable="true" type="tns:ArrayOfOrganizationGroupOrganization" />
  <xs:complexType name="OrganizationGroupOrganization">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OrganizationGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrganizationGroupOrganization" nillable="true" type="tns:OrganizationGroupOrganization" />
  <xs:complexType name="GetOrganizationRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrganizationRequestData" nillable="true" type="tns:GetOrganizationRequestData" />
  <xs:element name="GetOrganizationReqData" nillable="true" type="tns:GetOrganizationRequestData" />
  <xs:complexType name="GetOrganizationGroupRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrganizationGroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetOrganizationGroupRequestData" nillable="true" type="tns:GetOrganizationGroupRequestData" />
  <xs:element name="GetOrganizationGroupReqData" nillable="true" type="tns:GetOrganizationGroupRequestData" />
  <xs:complexType name="GetRoleRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetDetails" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetRoleRequestData" nillable="true" type="tns:GetRoleRequestData" />
  <xs:element name="GetRoleReqData" nillable="true" type="tns:GetRoleRequestData" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:element name="Roles" nillable="true" type="tns:ArrayOfRole" />
</xs:schema>