aspnet-core/GBS/ABS.Navitaire/Service References/Navitaire.AccountManager/AccountManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.navitaire.com/WebServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountManager" targetNamespace="http://schemas.navitaire.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IAccountManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.navitaire.com/WebServices/Imports">
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AccountManager.svc?xsd=xsd0" namespace="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AccountManager.svc?xsd=xsd6" namespace="http://schemas.navitaire.com/WebServices" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AccountManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AccountManager.svc?xsd=xsd2" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Account" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AccountManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AccountManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/AccountManager.svc?xsd=xsd5" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CommitAccountRequest">
    <wsdl:part xmlns:q1="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q1:CommitAccountRequest" />
  </wsdl:message>
  <wsdl:message name="CommitAccountRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitAccountResponse">
    <wsdl:part xmlns:q2="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q2:CommitAccountResponse" />
  </wsdl:message>
  <wsdl:message name="FindAccountTransactionRequest">
    <wsdl:part xmlns:q3="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q3:FindAccountTransactionRequest" />
  </wsdl:message>
  <wsdl:message name="FindAccountTransactionRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="FindAccountTransactionResponse">
    <wsdl:part xmlns:q4="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q4:FindAccountTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountRequest">
    <wsdl:part xmlns:q5="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q5:GetAccountRequest" />
  </wsdl:message>
  <wsdl:message name="GetAccountRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetAccountResponse">
    <wsdl:part xmlns:q6="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q6:GetAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountByReferenceRequest">
    <wsdl:part xmlns:q7="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q7:GetAccountByReferenceRequest" />
  </wsdl:message>
  <wsdl:message name="GetAccountByReferenceRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetAccountByReferenceResponse">
    <wsdl:part xmlns:q8="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q8:GetAccountByReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCreditByReferenceRequest">
    <wsdl:part xmlns:q9="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q9:GetAvailableCreditByReferenceRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCreditByReferenceRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCreditByReferenceResponse">
    <wsdl:part xmlns:q10="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q10:GetAvailableCreditByReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsRequest">
    <wsdl:part xmlns:q11="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q11:CommitAccountTransactionsRequest" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsResponse">
    <wsdl:part xmlns:q12="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q12:CommitAccountTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="CommitAccountBatchRequest">
    <wsdl:part xmlns:q13="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q13:CommitAccountBatchRequest" />
  </wsdl:message>
  <wsdl:message name="CommitAccountBatchRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitAccountBatchResponse">
    <wsdl:part xmlns:q14="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q14:CommitAccountBatchResponse" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsBatchRequest">
    <wsdl:part xmlns:q15="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q15:CommitAccountTransactionsBatchRequest" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsBatchRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsBatchResponse">
    <wsdl:part xmlns:q16="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q16:CommitAccountTransactionsBatchResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountManager">
    <wsdl:operation name="CommitAccount">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccount" name="CommitAccountRequest" message="tns:CommitAccountRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountResponse" name="CommitAccountResponse" message="tns:CommitAccountResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindAccountTransactions">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactions" name="FindAccountTransactionRequest" message="tns:FindAccountTransactionRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactionsResponse" name="FindAccountTransactionResponse" message="tns:FindAccountTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccount" name="GetAccountRequest" message="tns:GetAccountRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountResponse" name="GetAccountResponse" message="tns:GetAccountResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByReference">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReference" name="GetAccountByReferenceRequest" message="tns:GetAccountByReferenceRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReferenceResponse" name="GetAccountByReferenceResponse" message="tns:GetAccountByReferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditByReference">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReference" name="GetAvailableCreditByReferenceRequest" message="tns:GetAvailableCreditByReferenceRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReferenceResponse" name="GetAvailableCreditByReferenceResponse" message="tns:GetAvailableCreditByReferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="CommitAccountTransactions">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactions" name="CommitAccountTransactionsRequest" message="tns:CommitAccountTransactionsRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionsResponse" name="CommitAccountTransactionsResponse" message="tns:CommitAccountTransactionsResponse" />
    </wsdl:operation>
    <wsdl:operation name="CommitAccountBatch">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatch" name="CommitAccountBatchRequest" message="tns:CommitAccountBatchRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatchResponse" name="CommitAccountBatchResponse" message="tns:CommitAccountBatchResponse" />
    </wsdl:operation>
    <wsdl:operation name="CommitAccountTransactionBatchEntry">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntry" name="CommitAccountTransactionsBatchRequest" message="tns:CommitAccountTransactionsBatchRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntryResponse" name="CommitAccountTransactionsBatchResponse" message="tns:CommitAccountTransactionsBatchResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountManager" type="tns:IAccountManager">
    <wsp:PolicyReference URI="#BasicHttpBinding_IAccountManager_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CommitAccount">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccount" style="document" />
      <wsdl:input name="CommitAccountRequest">
        <soap:header message="tns:CommitAccountRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitAccountResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindAccountTransactions">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactions" style="document" />
      <wsdl:input name="FindAccountTransactionRequest">
        <soap:header message="tns:FindAccountTransactionRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:FindAccountTransactionRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindAccountTransactionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccount" style="document" />
      <wsdl:input name="GetAccountRequest">
        <soap:header message="tns:GetAccountRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetAccountRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAccountResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByReference">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReference" style="document" />
      <wsdl:input name="GetAccountByReferenceRequest">
        <soap:header message="tns:GetAccountByReferenceRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetAccountByReferenceRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAccountByReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditByReference">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReference" style="document" />
      <wsdl:input name="GetAvailableCreditByReferenceRequest">
        <soap:header message="tns:GetAvailableCreditByReferenceRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetAvailableCreditByReferenceRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAvailableCreditByReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitAccountTransactions">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactions" style="document" />
      <wsdl:input name="CommitAccountTransactionsRequest">
        <soap:header message="tns:CommitAccountTransactionsRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountTransactionsRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitAccountTransactionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitAccountBatch">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatch" style="document" />
      <wsdl:input name="CommitAccountBatchRequest">
        <soap:header message="tns:CommitAccountBatchRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountBatchRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitAccountBatchResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitAccountTransactionBatchEntry">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntry" style="document" />
      <wsdl:input name="CommitAccountTransactionsBatchRequest">
        <soap:header message="tns:CommitAccountTransactionsBatchRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountTransactionsBatchRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitAccountTransactionsBatchResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountManager">
    <wsdl:port name="BasicHttpBinding_IAccountManager" binding="tns:BasicHttpBinding_IAccountManager">
      <soap:address location="https://aktestr3xapi.navitaire.com/AccountManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>