aspnet-core/GBS/ABS.Navitaire/Service References/Navitaire.PersonManager/PersonManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.navitaire.com/WebServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonManager" targetNamespace="http://schemas.navitaire.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IPersonManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.navitaire.com/WebServices/Imports">
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/PersonManager.svc?xsd=xsd0" namespace="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/PersonManager.svc?xsd=xsd6" namespace="http://schemas.navitaire.com/WebServices" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/PersonManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/PersonManager.svc?xsd=xsd2" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Person" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/PersonManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/PersonManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
      <xsd:import schemaLocation="https://aktestr3xapi.navitaire.com/PersonManager.svc?xsd=xsd5" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CommitPersonRequest">
    <wsdl:part xmlns:q1="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" name="parameters" element="q1:CommitPersonRequest" />
  </wsdl:message>
  <wsdl:message name="CommitPersonRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitPersonResponse">
    <wsdl:part xmlns:q2="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" name="parameters" element="q2:CommitPersonResponse" />
  </wsdl:message>
  <wsdl:message name="FindPersonsRequest">
    <wsdl:part xmlns:q3="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" name="parameters" element="q3:FindPersonsRequest" />
  </wsdl:message>
  <wsdl:message name="FindPersonsRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="FindPersonsResponse">
    <wsdl:part xmlns:q4="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" name="parameters" element="q4:FindPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonRequest">
    <wsdl:part xmlns:q5="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" name="parameters" element="q5:GetPersonRequest" />
  </wsdl:message>
  <wsdl:message name="GetPersonRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetPersonResponse">
    <wsdl:part xmlns:q6="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" name="parameters" element="q6:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonInfoListRequest">
    <wsdl:part xmlns:q7="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" name="PersonID" element="q7:PersonID" />
  </wsdl:message>
  <wsdl:message name="GetPersonInfoListRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetPersonInfoListResponse">
    <wsdl:part xmlns:q8="http://schemas.navitaire.com/WebServices/DataContracts/Person" name="PersonInfoLists" element="q8:PersonInfoLists" />
  </wsdl:message>
  <wsdl:message name="GetPersonInfoDataRequest">
    <wsdl:part xmlns:q9="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" name="parameters" element="q9:GetPersonInfoDataRequest" />
  </wsdl:message>
  <wsdl:message name="GetPersonInfoDataRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetPersonInfoDataResponse">
    <wsdl:part xmlns:q10="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" name="parameters" element="q10:GetPersonInfoDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePersonTrustLevelRequest">
    <wsdl:part xmlns:q11="http://schemas.navitaire.com/WebServices/ServiceContracts/PersonService" name="parameters" element="q11:UpdatePersonTrustLevelRequest" />
  </wsdl:message>
  <wsdl:message name="UpdatePersonTrustLevelRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="IPersonManager_UpdatePersonTrustLevel_OutputMessage" />
  <wsdl:portType name="IPersonManager">
    <wsdl:operation name="Commit">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/Commit" name="CommitPersonRequest" message="tns:CommitPersonRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/CommitResponse" name="CommitPersonResponse" message="tns:CommitPersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="FindPersons">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/FindPersons" name="FindPersonsRequest" message="tns:FindPersonsRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/FindPersonsResponse" name="FindPersonsResponse" message="tns:FindPersonsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/GetPerson" name="GetPersonRequest" message="tns:GetPersonRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/GetPersonResponse" name="GetPersonResponse" message="tns:GetPersonResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonInfoList">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/GetPersonInfoList" name="GetPersonInfoListRequest" message="tns:GetPersonInfoListRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/GetPersonInfoListResponse" name="GetPersonInfoListResponse" message="tns:GetPersonInfoListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonInfoData">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/GetPersonInfoData" name="GetPersonInfoDataRequest" message="tns:GetPersonInfoDataRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/GetPersonInfoDataResponse" name="GetPersonInfoDataResponse" message="tns:GetPersonInfoDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonTrustLevel">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/UpdatePersonTrustLevel" name="UpdatePersonTrustLevelRequest" message="tns:UpdatePersonTrustLevelRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IPersonManager/UpdatePersonTrustLevelResponse" message="tns:IPersonManager_UpdatePersonTrustLevel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonManager" type="tns:IPersonManager">
    <wsp:PolicyReference URI="#BasicHttpBinding_IPersonManager_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Commit">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IPersonManager/Commit" style="document" />
      <wsdl:input name="CommitPersonRequest">
        <soap:header message="tns:CommitPersonRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitPersonRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitPersonResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindPersons">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IPersonManager/FindPersons" style="document" />
      <wsdl:input name="FindPersonsRequest">
        <soap:header message="tns:FindPersonsRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:FindPersonsRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindPersonsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IPersonManager/GetPerson" style="document" />
      <wsdl:input name="GetPersonRequest">
        <soap:header message="tns:GetPersonRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetPersonRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPersonResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonInfoList">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IPersonManager/GetPersonInfoList" style="document" />
      <wsdl:input name="GetPersonInfoListRequest">
        <soap:header message="tns:GetPersonInfoListRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetPersonInfoListRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPersonInfoListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonInfoData">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IPersonManager/GetPersonInfoData" style="document" />
      <wsdl:input name="GetPersonInfoDataRequest">
        <soap:header message="tns:GetPersonInfoDataRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetPersonInfoDataRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPersonInfoDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonTrustLevel">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IPersonManager/UpdatePersonTrustLevel" style="document" />
      <wsdl:input name="UpdatePersonTrustLevelRequest">
        <soap:header message="tns:UpdatePersonTrustLevelRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:UpdatePersonTrustLevelRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonManager">
    <wsdl:port name="BasicHttpBinding_IPersonManager" binding="tns:BasicHttpBinding_IPersonManager">
      <soap:address location="https://aktestr3xapi.navitaire.com/PersonManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>